// Global variables
@import './utilities/variables';

// Components styles
// Atoms
@import '../../src/components/atoms/FractalButton.scss';
@import '../../src/components/atoms/IterationCount.scss';
@import '../../src/components/atoms/ControlButton.scss';
@import '../../src/components/atoms/FooterText.scss';

// Molecules
@import '../../src/components/molecules/Canvas.scss';
@import '../../src/components/molecules/ButtonsHeader.scss';
@import '../../src/components/molecules/FractalControlButtons.scss';
@import '../../src/components/molecules/FractalControls.scss';
@import '../../src/components/molecules/Controls.scss';
@import '../../src/components/molecules/Footer.scss';
@import '../../src/components/molecules/FractalReset.scss';

// Fonts
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $beige;
}
