@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.fractal-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #5584ac;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .fractal-button:hover {
    background-color: #22577e; }
  .fractal-button:focus {
    outline: none; }
  @media (max-width: 767px) {
    .fractal-button {
      margin-top: 1vh;
      width: 100%; } }
  @media (min-width: 768px) {
    .fractal-button {
      width: 29vw; } }

.iteration-count {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.iteration {
  font-size: 20px; }

.control-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #5584ac;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: fit-content; }
  .control-button:hover {
    background-color: #22577e; }
  .control-button:focus {
    outline: none; }

.footer-text {
  font-size: 16px;
  text-align: center; }
  @media (max-width: 767px) {
    .footer-text {
      width: 75vw; } }
  @media (min-width: 768px) {
    .footer-text {
      width: 100vw; } }

.reset-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #5584ac;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: fit-content; }
  .reset-button:hover {
    background-color: #22577e; }
  .reset-button:focus {
    outline: none; }
  @media (max-width: 480px) {
    .reset-button {
      display: block;
      width: 100%; } }

.fractal-canvas-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 5%;
  width: 90%; }

#fractal-canvas {
  width: 100%;
  transition: all 0.5s ease-in-out;
  background-color: #22577e; }
  @media (max-width: 480px) {
    #fractal-canvas {
      height: 37vh; } }
  @media (min-width: 481px) and (max-width: 767px) {
    #fractal-canvas {
      height: 50vh; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    #fractal-canvas {
      height: 55vh; } }
  @media (min-width: 1025px) and (max-width: 1280px) {
    #fractal-canvas {
      height: 60vh; } }
  @media (min-width: 1281px) {
    #fractal-canvas {
      height: 65vh; } }

@media (max-width: 767px) {
  .buttons-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 2vh; } }

@media (min-width: 768px) {
  .buttons-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3.5vh 5%; } }

.fractal-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 480px) {
    .fractal-control-buttons {
      width: 50%; } }
  @media (min-width: 481px) {
    .fractal-control-buttons {
      width: 35%; } }

.fractal-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5vh; }
  @media (max-width: 480px) {
    .fractal-controls {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .fractal-controls {
      width: 85%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .fractal-controls {
      width: 65%; } }
  @media (min-width: 1025px) and (max-width: 1280px) {
    .fractal-controls {
      width: 40%; } }
  @media (min-width: 1281px) {
    .fractal-controls {
      width: 30%; } }

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 5%; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh; }

.fractal-reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%; }
  @media (max-width: 480px) {
    .fractal-reset {
      margin-top: 1.5vh; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #f6f2d4; }
