@import '../../../public/sass/utilities/variables';

.buttons-header {
  // Media query for mobile devices
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $max-width;
    margin: 0 auto;
    padding-top: 2vh;
  }

  // Media query for low resolution tablets, ipads, tablets and ipads in portrait mode, laptops, desktops and large screens
  @media (min-width: 481px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3.5vh 5%;
  }
}
