@import '../../../public/sass/utilities/variables';

.fractal-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // Media query for mobile devices
  @media (max-width: 480px) {
    width: 50%;
  }

  // Media query for low resolution tablets and ipads, tablets and ipads in portrait mode, laptops and desktops and large screens
  @media (min-width: 481px) {
    width: 35%;
  }
}
