@import '../../../public/sass/utilities/variables';

.fractal-reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;

  // Media query for mobile devices
  @media (max-width: 480px) {
    margin-top: 1.5vh;
  }
}
